@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');


.login_screen{
    min-height: 100vh;
}

.login_screen img{
    min-height: 100vh;
    min-width: 50vw;
    max-height: 100vh;

}

.login_screen label {
    color: #1B2E6B;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.login_screen  input {
    height: 50px;
}
.btn-submit {
    background: #EF5125;
   border-radius: 5px;
   height: 50px;
   color: white;
   font-weight: 700;
   font-size: 16px;
}

.btn-submit:hover{
    opacity: 0.9;
}